* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.unix {
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin-left: 14%;
    box-shadow: 2px 5px 8px black;
}
.passage {
    text-align: center;
    padding: 3%;
}
.link {
    text-align: center;
    color: rgb(8, 8, 61);
}
a, h4{
    text-decoration: none;
    text-align: center;
    color: black;
}
.search{
    text-align: center;
    padding: 8px;
    display: flex;
    margin-left: 34%;
}
input[name=searchbar]{
    width: 250px;
    padding: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    outline: none;
}
button[type=submit] {
    background-color: rgb(97, 97, 97);
    border: none;
    height: 20px;
    width: 44px;
    cursor: pointer;
}
.card {
    padding: 4%;
    display: flex;
    margin-left: 12%;
    width: 80%;
}
h2 {
    font-size: 16px;
    font-family: cursive;
    letter-spacing: 4px;
}
pass{
    font-size: 12px;
}
.card .type1{
    padding: 4px;
    width: 40%;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 4px;
    cursor: pointer;
}
.card .type2{
    padding: 4px;
    width: 40%;
    margin-right: 4%;
    border-radius: 4px;
    cursor: pointer;
}
.far{
    width: 20px;
    color: blue;
}
.icons{
    display: flex;
    padding: 12%;
    margin-left: 7%;
}
.text2{
    margin-left: 8%;
}
.footer{
    background-color: rgb(163, 217, 219);
    padding: 2%;
}
h5{
    margin-left: 18%;
}








@media screen and (max-width: 1000px) {
    p {
        font-size: 16px;
    }
    .search{
        display: block;
        margin-left: 1%;
    }
    .card {
        display: block;
        margin-left: 30%;
        width: 100%;
    }
    .card .type1{
        margin: 4px;
		padding: 4px;
    }
    .type2{
        padding-top: 4%;
		padding: 4px;
        margin:4px
    }
    .icons{
        margin-left: 22%;
    }
    h5{
        margin-left: 34%;
    }
    /* .card .type2{
        margin: 4px;
    } */
}
/* @media screen and (max-width: 1080px) {
    .search{
        margin-left: 37%;
    }
} */